<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zephyr/1.0</title>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="static/js/script.js"></script>
</head>

<body>
  <img src="static/gfx/logo.jpg" alt="Zephyr Logo" id="logo">
  <h1>Zephyr/1.0 - Share data easily</h1>
  
  <!-- area to upload files -->
  <div id="drop-area">
    <form class="upload-form">
      <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
      <input type="file" id="fileElem" multiple accept="text/csv" onchange="handleFiles(this.files)">
      <label class="button" for="fileElem">Select some files</label>
    </form>
  </div>
  <script src="static/js/upload.js"></script>

  <!-- most popular datasets -->
  <!-- fetch accept: application/json from /datsets/top -->
  <h2>Recent datasets</h2>
  <ul id="top-datasets">
    
  </ul>
  <a href="/datasets">See all datasets</a>
  <script>
    function loadDatasets() {
    fetch('/datasets/top', {
        method: 'GET',
        headers: {
          'Accept': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        let topDatasets = document.getElementById('top-datasets');
        topDatasets.innerHTML = '';
        data.forEach(dataset => {
          let li = document.createElement('li');
          let a = document.createElement('a');
          let p = document.createElement('p');
          a.href = `/datasets/${dataset.id}`;
          a.innerText = dataset.filename;
          p.innerText = dataset.desc;
          li.appendChild(a);
          li.appendChild(p);
          topDatasets.appendChild(li);
        });
      });
    }
    loadDatasets();
    setInterval(loadDatasets, 5000);
  </script>
  
  
</body>