/* General */

body, html {
  margin: 0;
  padding: 0;
}

nav {
  background: #18151E; 
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.logo {
  width: 50px;  /* adjust to suit your logo dimensions */
  height: 45px;
}

.nav-links {
  position: relative;
  right: 10px;
  list-style: none;
  display: flex;
  margin-left: 30px;
}

.nav-links a {
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  padding: 1px 15px;
}

/* Search */
.navsearch-wrapper {
  align-items: normal;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 1px;
}

input[type=navsearch] {
  width: 130px;
  height: 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding-right: 15px;
  border-radius: 10px;
}
/* When the search field gets focus, change its width to 100% */
input[type=navsearch]:focus {
  width: 260px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Upload Control */
#frontpage-toparea {
  display: flex;
}
#introvideo {
  padding: 20px;
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width:75% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px auto;
    margin-left: 20px;
    padding: 15px; 
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }

  #frontpage-feed {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }